mat-grid-list{

    .HelloPhoto{
        background-image: url("https://ocdn.eu/pulscms-transforms/1/I7qk9kpTURBXy9jNjEzOGNjMTVjZTAzZmVmZDI4NzEyOWU2MmVjZGI2OS5qcGeTlQMATs0H0M0EZZMFzQMUzQG8lQfZMi9wdWxzY21zL01EQV8vMjMzN2M5ZmQ2YjkzMWVlNmNiMGQyM2RjYmEyNThhOWQucG5nAMIAgaEwAQ");
        mat-card{
            background-color:  rgba(132, 70, 37, 0.88);
            width: 80%;
            height: 80%;

            display: flex;
            justify-content: center;
            align-items: center;

            mat-card-content{
                text-align: center;
                .title-desktop{
                    font-family: 'brannboll';
                    font-size: 5vw;
                }

                .title-mobile{
                    font-family: 'brannboll';
                    font-size: 10vw;
                }

                
                .slogan{
                    font-family: 'brannboll';
                    font-size: 3vw;
                }



                    .img-desktop{
                        width: 20vw; 
                        border: 0px solid rgb(234, 234, 234);
                    }

                    .img-mobile{
                        width: 70vw; 
                        border: 0px solid rgb(234, 234, 234);
                    }

                
            }


            .p-h1{
                font-size: 5vw;
                font-family: 'brannboll';
                span{
                    font-size: 3vw;
                }
            }
        }
    }

    .katra-catering{
        background-color: yellow;
    }
}
