<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile colspan="3" class="HelloPhoto">
    <mat-card>
      <mat-card-content>
          <span [ngClass]="(isPhone | async) ? 'title-mobile' : 'title-desktop' " >Pyszna śląska kuchnia</span> 
          <br>      
          <img alt="image" [ngClass]="(isPhone | async ) ? 'img-mobile': 'img-desktop' " src="http://www.balbooa.com/demo-content/gridbox/themes/tasty/devider-white.png">
          <br>
          <span *ngIf="!(isPhone | async)" class="slogan">Z najlepszych babcinnych przepisów</span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="(isPhone | async) ? '3' : '1.5' " [colspan]="(isPhone | async) ? '3' : '1' " class="katry-home">
    <mat-card> 
      <mat-card-header>
        <mat-card-title  [ngClass]="(isPhone | async) ? 'mobile' : 'desktop' ">Catering</mat-card-title>
      </mat-card-header>
      <img  class="karta-zdjecie" src="http://byfyj.pl/images/content/komunia.jpg" />
      <mat-card-content *ngIf="!(isPhone | async)">
        <img alt="image" [ngClass]="(isPhone | async ) ? 'img-mobile': 'img-desktop' " src="http://www.balbooa.com/demo-content/gridbox/themes/tasty/devider-white.png">
        <span>
            Przyjdą goście, którym kiszki marsza grają? Komunia, chrzciny, wesele, przyjęcie rodzinne?
            Będzie impreza? Masz pomysł na oryginalne danie?
            Zadzwoń. Nasza babcia  jest wirtuozem noża i patelni.
            Wyczaruje wykwintne potrawy na zamówienie w mgnieniu oka.
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button [ngClass]="(isPhone | async ) ? 'btn-mobile': 'btn-desktop' " mat-button>Zamów</button>
        <button mat-button
        (click)="openInfoDialog(0)" 
        class="btn-mobile"
        *ngIf="(isPhone | async)" >Informacje</button>
      </mat-card-actions>
    </mat-card>

    

  </mat-grid-tile>

  <mat-grid-tile [rowspan]="(isPhone | async) ? '3' : '1.5' " [colspan]="(isPhone | async) ? '3' : '1' " class="katry-home">
      <mat-card>
          <mat-card-header>
            <mat-card-title [ngClass]="(isPhone | async) ? 'mobile imprezy' : 'desktop imprezy' ">Imprezy</mat-card-title>
          </mat-card-header>
          <img class="karta-zdjecie" src="http://byfyj.pl/images/content/szaszlyk.jpg" />
          <mat-card-content *ngIf="!(isPhone | async)">
            <img alt="image" [ngClass]="(isPhone | async ) ? 'img-mobile': 'img-desktop' " src="http://www.balbooa.com/demo-content/gridbox/themes/tasty/devider-white.png">
            Przyjdą goście, którym kiszki marsza grają? Komunia, chrzciny, wesele, przyjęcie rodzinne?
            Będzie impreza? Masz pomysł na oryginalne danie?
            Zadzwoń. Nasza babcia  jest wirtuozem noża i patelni.
            Wyczaruje wykwintne potrawy na zamówienie w mgnieniu oka.
          </mat-card-content>
          <mat-card-actions>
              <button [ngClass]="(isPhone | async ) ? 'btn-mobile': 'btn-desktop' " mat-button>Zamów</button>
              <button mat-button
              (click)="openInfoDialog(1)" 
              class="btn-mobile"
              *ngIf="(isPhone | async)" >Informacje</button>
            </mat-card-actions>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="(isPhone | async) ? '3' : '1.5' " [colspan]="(isPhone | async) ? '3' : '1' " class="katry-home">
      <mat-card>
          <mat-card-header>
            <mat-card-title [ngClass]="(isPhone | async) ? 'mobile' : 'desktop' ">
              Obiady
            </mat-card-title>
          </mat-card-header>
          <img class="karta-zdjecie" src="http://byfyj.pl/images/content/krem-z-dyni.jpg" />
          <mat-card-content *ngIf="!(isPhone | async)">
            <img alt="image" [ngClass]="(isPhone | async ) ? 'img-mobile': 'img-desktop' " src="http://www.balbooa.com/demo-content/gridbox/themes/tasty/devider-white.png">
            A może trzeba nakarmić dzielną załogę. Wiadomo jak Polak głodny to … nieefektywny. 
            Pomożemy – zadzwoń i zamów – my dostarczymy.
          </mat-card-content>
          <mat-card-actions>
              <button [ngClass]="(isPhone | async ) ? 'btn-mobile': 'btn-desktop' " mat-button>Zamów</button>
              <button mat-button
              (click)="openInfoDialog(2)" 
              class="btn-mobile"
              *ngIf="(isPhone | async)" >Informacje</button>
            </mat-card-actions>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="(isPhone | async) ? '3' : '1' " [rowspan]="(isPhone | async) ? '2' : '1' " class="Onas-photo" [ngClass]="(isPhone | async) ? 'Onas-photo-mobile' : 'Onas-photo-desktop' ">
    <mat-card>
        <mat-card-content>
        <span [ngClass]="(isPhone | async) ? 'powitanie-mobile' : 'powitanie-desktop' ">Szanowni Państwo!</span>
        <br *ngIf="(isPhone | async)">
        <button mat-button
              (click)="openInfoDialog(3)" 
              class="btn-mobile"
              *ngIf="(isPhone | async)" >O nas</button>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="Onas-tekst" colspan="2" *ngIf="!(isPhone | async)">
    <mat-card>
      <mat-card-content>
          <p>
              Naszą pasją jest kuchnia zdrowa, smaczna i oparta na tradycyjnych recepturach. 
              Nie używamy żadnych konserwantów, sztucznych dodatków czy nawet gotowych mieszanek przypraw. 
              Wszystko przygotowujemy tylko i wyłącznie ze świeżych składników. 
              W  naszej kuchni nie ma miejsca dla mrożonek,  półproduktów, konserwantów czy polepszaczy. 
              W przygotowanie dań  wkładamy całe serce, zdobytą wiedzę i niemałe już doświadczenie.
            </p>
             
            <p>
              Naszą dewizą jest tanio i dobrze. A to oznacza, że oferowane posiłki cechuje krótki, 
              przejrzysty skład, skromne opakowanie, możliwość zakupu na wagę, używanie tylko naturalnych
              sezonowych składników - przede wszystkim rosnących w naszym klimacie warzyw i owoców. 
              Dzięki temu są one  źródłem błonnika i zapewniają bogactwo witamin.
            </p>
      </mat-card-content>
    </mat-card>
      
      

      
  </mat-grid-tile>

</mat-grid-list>

