<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile colspan="3" class="HelloPhoto">
    <mat-card>
      <mat-card-content>
        <h1>Pyszna śląska kuchnia</h1>
        <h2>Z najelpszych babcinnych przepisów</h2>
        <h3>U nas prawdziwa domowa śląska kuchnia</h3>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile rowspan="2" class="katra-catering">

  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>Dzialj Gice stretny</mat-grid-tile>
</mat-grid-list>
