<mat-card>
    <mat-grid-list cols="2" rowHeight="1:0.5">
        <mat-grid-tile class="menu-naglowek" colspan="2" rowspan="1">
          <mat-card>
            <img src="https://www.balbooa.com/demo-content/gridbox/themes/tasty/header-icon.png" alt="">
            <br>
            <span class="menu">Nasze Menu</span>
            <br>
            <img src="http://byfyj.pl/images/line.png" alt="">
            <br>
            <p>Gdy burczy w brzuszku a Ty marzysz o czymś pysznym, sytym i zdrowym</p>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="menu-kolumna" colspan="1" rowspan="4">
          <mat-card>
            {{tekscik}}
              <p *ngFor="let potrawyInfo of potrawyData" >
                {{tekscik}}
                <span class="potrawa">{{potrawyInfo.nameOfFood}}</span>
                <br>
                <span class="cena">{{potrawyInfo.priceOfFood}} pln/{{potrawyInfo.unitOfFood}}</span>
              </p>
              <!--<p>Bigos</p>
              <p>Bigos</p>
              <p>Bigos</p>-->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">Zupy</mat-grid-tile>
      </mat-grid-list>
</mat-card>


