<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav   
  [ngClass]="(isPhone | async) ? 'nav-mobile' : 'nav-desktop' "
  fixedInViewport="true"
  [attr.role]="(isPhone | async) ? 'dialog' : 'navigation'"
  [mode]="(isPhone| async) ? 'over' : 'side'"
  [opened]="!(isPhone | async)">
    <mat-nav-list>
      <img class="logoMenu" src="assets/logoByfyj.png" />
      <a mat-list-item routerLink="/home" routerLinkActive="active">Byfyj</a>
      <a routerLink="/menu" routerLinkActive="active" mat-list-item >Menu</a>
      <a mat-list-item  routerLink="/kontakt" routerLinkActive="active" >Kontakt</a>
      <a mat-list-item href="#">Sklep</a>
      <a mat-list-item href="#">Oferty</a>
      <!-- <mat-list-item *ngFor="let item of list " >
        <mat-icon matListIcon>mail</mat-icon>
        <h3 matLine>Tekst</h3>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="(isPhone| async)">
      <button mat-button
      aria-label="Toggle sidenav"
      mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Byfyj Babci Gosi</span>
    </mat-toolbar> 
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>



