$primary-color:  #844625;
$secondary-color:#ddc391;

.mat-sidenav-container{
        
    
    .mat-sidenav{
        background-color: $primary-color;

        a {
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            font-family: 'brannboll';
            font-size: 25px;
        }

        a:hover{
            background-color: $secondary-color;
        }
    
        img {
            height: 100%;
            width: 100%;
        }
    }

    .nav-desktop{
        width: 20%;
    }

    .nav-mobile{
        width: 40%;
    }

    .mat-toolbar{
        width: 100%;
        background-color: $primary-color;

        span{
            flex: 1 1 auto;
            text-align: center;
            font-family: 'brannboll';
            color: black;
            font-size: 9vw;
        }
    }
}
